body{
    font-family: Roboto, 'Open Sans', sans-serif;
    margin: 0px;
    /* padding: 0px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
}

.header, .hero-container, .footer{
    background-color: rgb(31, 54, 85);
}

.header, .body, .footer{
    /* align-content: space-around; */
    /* padding: 10px 10px; */
    /* flex: 1; */
    padding-left: 10rem;
    padding-right: 10rem;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    /* flex-shrink: 0; */
}



.header-content{
    display: flex;
    justify-content: space-between;
}

.header .title{
    display: flex;
    font-weight: 900;
    font-size: 24px;
}

.header ul{
    /* margin: auto; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
    color: white;
}





.hero-container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    /* align-items:center; */
    gap: 50px;

}

.left p{
    /* flex-grow: 1; */
    color: white;
    font-size: 16px;
}


.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 1;
    flex-grow: 1;
    padding-right: 90px;

}

.right{
    display: flex;
    align-items: center;
}

.right img{
    width: 400px;
    height: auto;
    flex-grow: 2;
}


button{
    padding: 8px 28px;
    background-color: rgb(28, 134, 221);
    border-radius: 6px;
    color: white;
    border-style: none;
    font-weight: 700;
    font-size: 14px;
}

.hero-title{
    font-size: 38px;
    color: white;
    font-weight: bolder;
    flex-wrap: wrap;
}


.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container h1{
    font-size: 30px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div{
    padding: 20px;
    color: white;
}

